* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* container */
.container {
    width: 300px;
    height: 400px;
    margin-inline: auto;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: hsl(160, 67%, 76%);
}
/* head */
img {
    height: 40px;
    width: 40px;
}
.head__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.head__content__name{
    margin-left: 30%;
}
.head__content__pic{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main */
.main {
    width: 100%;
    /* height: 100%; */
    background-color: rgb(250, 241, 232);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: wrap;
}
.main__test__content {
        width: 100%;
    /* height: 100%; */
}
.main__test__content__left{
    display: flex;
    align-items: center;
    padding: 5px;   
    gap:5px;
}
.main__test__content__right{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 5px;
    padding: 5px;
}
.main__test__content__right div {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
.main img {
    width: 36px;
    height: 36px;
}

/* bottom */
.bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}
.bottom__input {
    width: auto;
    height: 100%;
    font-size: 1.2rem;
    flex-grow: 1;
    flex-shrink:2;
    border:none;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    padding-inline: 3px;
}
.bottom__button {
    width: fit-content;
    height: 100%;
    font-size: 1.05rem;
    text-align: center;
    margin-left:auto;
    border: none;
    background-color: rgb(221, 223, 223);
}
.bottom__button i {
    text-align: center;
}